{% extends "layouts/base.html" %}
{% block body %}
    <div class="outer wrapper">
        <div class="logo wrapper">
            <img src="/static/img/ahlure-logo.jpg">
        </div>
        <div class="content wrapper">
            <nav class="tabs">
                <ul>
                    <li class="blue"><a href="#tab-1">Welcome</a></li>
                    <li class="red"><a href="#tab-2">Contact Me</a></li>
                    <li class="yellow"><a href="#tab-3">Section</a></li>
                    <li class="green"><a href="#tab-4" >Section</a></li>
                </ul>
            </nav>

            <section id="tab-1" class="content inner active ">
                <p>
                    DJ Ahlure is based out of Clarksville, Tennessee, and is available for a variety of occasions, such as:
                </p>

                <ul>
                    <li>Weddings</li>
                    <li>Birthday Parties</li>
                    <li>Graduations</li>
                    <li>Club and Venue Events</li>
                    <li>And many more!</li>
                </ul>


                <p>To schedule an appointment to meet with Ahlure, inquire about
                    pricing for an event, or for any additional questions, call 
                    (931) 334-1009, or click on the <a href="#tab-2">Contact Me</a> tab at the top of 
                    the website and leave a message, and he’ll get back to 
                    you expeditiously.  
                </p>

                <p>
                    Thank you for visiting!
               </p>
           </section>

            <section id="tab-2" class="content inner">
                <form action="{{ url_for('frontend.index') }}" method="POST">
                    {{ form.hidden_tag() }}
                    
                    {{ form.name.label }}
                    {{ form.name }}

                    {{ form.email.label }}
                    {{ form.email }}

                    {{ form.phone.label }}
                    {{ form.phone }}

                    {{ form.message.label }}
                    {{ form.message }}

                    {{ form.submit }}
                </form>
            </section>

            <section id="tab-3" class="content inner">
            </section>

            <section id="tab-4" class="content inner">
            </section>
        </div>
    </div>
    <script 
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"
        ></script>
    <script
        src="js/main.js"
        ></script>
{% endblock %}
