@import 'mixins.less';
@tablet: 768px;
@screen-lg: 1200px;

@light-gold: #E9BF35;
@dark-gold: #F5A935;
@velvety-black: #0B0C05;
@off-white: #ddd;

@fg-color: @off-white;
@body-bg: @velvety-black;

@font-face {
    src: url('/fonts/helvetica-neue.dfont');
    font-family: 'HelveticaNeue';
}

h1,h2,h3,h4,h5,h6,
p,span,ul {
    color: @fg-color;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* lol hai
 **********/
ul { list-style: none; }

html, body {
    height: 100%;
    background: @body-bg;
    background: url('/img/ahlure-bg.jpg');
}

nav.navbar.navbar-default {
    border-radius: 0;
    box-shadow: 0 0 4px 5px #000;
}

@media screen and (min-width: @tablet) {
    nav.navbar.navbar-defaul {
        border-radius: none;
    }
}

.head {
    background: url('/img/speaker_bg.png') no-repeat;
    border-bottom: 10px solid rgba(0, 0, 0, 0.9);
    min-height: 150px;

    .logo-container {
        display: none;
        padding: 8px;
        background: rgba(255, 255, 255, 0.7);
        position: relative;
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        .logo {
            display: block;
            z-index: 10;
            margin: 0 auto;
        }
    }

    .logo-container.small {
        display: block;
        top: 1em;
        .logo {
            width: 300px;
        }
    }
}

@media screen and (min-width: @tablet) {
    .head {
        min-height: 440px;
        .logo-container {
            display: block;

            .logo {
                width: auto;
            }
        }

        .logo-container.small {
            display: none;
        }
    }
}

@media screen and (min-width: @screen-lg){
    .head {
        background-size: conver;
    }
}

@media screen and (min-width: @tablet) {
    .services {
        li {
            display: inline-block;
            margin-right: 1em;
        }
    }
}

.content {
    font-size: 18px;
    p {
        padding: 2em 1em 2em 1em;
        background: rgba(30, 30, 30, 0.6);
        border-radius: 4px;
    }
}

@media screen and (min-width: @tablet) {
    .content {
        font-size: 20px;
        .deck {
            font-family: 'HelveticaNeue', 'Helvetica', sans-serif;
            font-size: 126px;
            font-weight: lighter;
            margin-left: -40%;
        }
    }
}

.contact {
    background: url('/img/head-banner.jpg') -200px 0;
    box-shadow: 0 0 4px 5px #000;
    min-height: 400px;
    margin-top: 4em;
    .contact-form {
        background: rgba(209, 255, 253, 0.6);
        border-radius: 4px;
        padding: 2em;
        margin-top: 2em;
    }
}

@media screen and (min-width: @tablet) {
    .contact {
        background-position: 0 0;
    }
}

.about-me {
    p {
        padding: 2em 0 2em 0;
        font-size: 20px;
    }
}

.footer {
    background: #fff;
    text-align: center;
    p {
        margin: 0;
        color: #000;
    }
}
