body * { 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

body {
    background: #222;
}


@media screen and (min-width: 48em) {
    .outer.wrapper  {
        background: url('/static/img/half-circle-bg.png') #fff no-repeat 200px -225px;
        height: 50em;
        margin: -1em auto;
        padding: 0;
        position: relative;
        width: 70em;
    }

    .logo.wrapper {
        border-bottom: 3px solid black;
        margin: 0 0 0 4em;
        margin-bottom: 1em;
        padding-bottom: 1em;
        overflow: hidden;
        width: 44em;
    }

    .logo.wrapper img { 
        float: left;
        margin-left: 2em;
    }

    nav.tabs ul {
        padding-left: 2em;
    }

    nav.tabs ul li {
        background: #000;
        display: inline-block;
        list-style: none;
        margin-right: 15px;
        text-align: center;
        width: 190px;
    }

    nav.tabs.ul.active.blue { background: blue; color: #000; } 
    nav.tabs.ul.active.red { background: red; color: #000;  }
    nav.tabs.ul.active.yellow { background: yellow; color: #000;  }
    nav.tabs.ul.active.green { background: green; color: #000;  }

    nav.tabs ul li a {
        color: #fff;
        display: block;
        height: 30px;
        line-height: 30px;
        text-decoration: none;
    }

    .content.wrapper {
        clear: both;
        margin: 0 auto;
        width: 60em;
    }

    .content.inner {
        background: #fff;
        border: 3px solid #000;
        display: none;
        height: 20em;
    }

    .content.inner p {
        margin: 1em;
    }

    .content.inner.active {
        display: block;
    }

}
