{% extends "layout.html" %} {% block body %}
<section id="content">
<a href="http://ahlure.net"><img src="/static/img/ahlure-logo_current.jpg" alt="Clarksville DJ - Ahlure"></a>
<h1> Ahlure </h1>
<h2> Clarksville's Own Professional DJ and Party Planner </h2>
<p> Hey Clarksville! My name is Ahlure, and I want to plan your next party!  I'm a professional DJ and party planner with a high quality system and excellent taste. Message me here or give me a call! </p>
<h1>931 624 2120</h1>
  {% if msg %}
    <pre>
        {{ msg }}
    </pre>
  {% endif %}
  
  <form action="" method="POST">
      <ul>
          <li>
          <label for="contact-name"> Introduce yourself. </label>
          </li>
          <li>
          <input type="text" name="contact-name"><br>
          </li>
          <li>
          <label for="contact-phone"> What's your phone number? </label>
          </li>
          <li>
          <input type="text" name="contact-phone"><br>
          </li>
          <li>
          <label for="contact-email"> What's your email? </label>
          </li>
          <li>
          <input type="email" name="contact-email"><br>
          </li>
          <li>
          <label for="contact-blurb"> Tell me about your party! </label>
          </li>
          <li>
          <textarea name="contact-blurb"></textarea><br>
          </li>
          <li>
          <input type="submit" value="Message Me">
          </li>
  </ul>
  </form>
</section>
{% endblock %}
