{% extends "layout.html" %}
{% block body %}
<header>
<div id="logo-wrapper">
    <img src="http://placehold.it/600x240">
</div>
</header>
<div id="wrapper">
    <nav>
    <ul>
        <li><a id="section1-link" href="#"><h2>Section 1</h2></a></li>
        <li><a id="section2-link" href="#"><h2>Section 2</h2></a></li>
        <li><a id="section3-link" href="#"><h2>Section 3</h2></a></li>
        <li><a id="section4-link" href="#"><h2>Section 4</h2></a></li>
    </ul>
    </nav>

    <div id="inner-wrapper">
        <section id="section1" class="active">
        <p>

        Section 1
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt
        turpis condimentum, ultricies lorem eget, blandit risus. Praesent eleifend
        tincidunt ipsum, eu mattis libero congue quis. Praesent faucibus, lorem eget
        porttitor tristique, augue lacus pulvinar justo, ac ultricies tellus justo nec
        ipsum. Quisque pharetra feugiat eros, nec mattis tellus semper ut. Integer
        tincidunt aliquet tristique. Mauris quis felis sed lacus gravida posuere eget
        in risus. Vestibulum in nisi ac risus ultricies aliquet sit amet vel eros.
        Integer vehicula at felis ut pharetra.  </p>

        <p>
        Proin ullamcorper urna vitae lorem dapibus euismod. Etiam ultrices in eros
        lobortis iaculis. Cras commodo gravida turpis vitae tempor. Nullam et turpis
        tempor velit dignissim varius sed a tellus. Vivamus tristique mi sed nunc
        condimentum tempus quis at nisl. Donec vitae placerat arcu. Aliquam sed orci eu
        orci imperdiet pharetra sagittis ut velit. Vestibulum ultricies commodo mi, in
        viverra neque rhoncus ac. Suspendisse vel urna nulla. Fusce tincidunt ante
        nisi, at laoreet erat consequat at.
        </p>
        </section>

        <section id="section2">
        <p>

        Section 2
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt
        turpis condimentum, ultricies lorem eget, blandit risus. Praesent eleifend
        tincidunt ipsum, eu mattis libero congue quis. Praesent faucibus, lorem eget
        porttitor tristique, augue lacus pulvinar justo, ac ultricies tellus justo nec
        ipsum. Quisque pharetra feugiat eros, nec mattis tellus semper ut. Integer
        tincidunt aliquet tristique. Mauris quis felis sed lacus gravida posuere eget
        in risus. Vestibulum in nisi ac risus ultricies aliquet sit amet vel eros.
        Integer vehicula at felis ut pharetra.  </p>

        <p>
        Proin ullamcorper urna vitae lorem dapibus euismod. Etiam ultrices in eros
        lobortis iaculis. Cras commodo gravida turpis vitae tempor. Nullam et turpis
        tempor velit dignissim varius sed a tellus. Vivamus tristique mi sed nunc
        condimentum tempus unicorn buttsex. Donec vitae placerat arcu. Aliquam sed orci eu
        orci imperdiet pharetra sagittis ut velit. Vestibulum ultricies commodo mi, in
        viverra neque rhoncus ac. Suspendisse vel urna nulla. Fusce tincidunt ante
        nisi, at laoreet erat consequat at.
        </p>

        </section>

        <section id="section3">
        <p>

        Section 3
        Now this is the story all about how
        My life got flipped, turned upside down
        And I'd like to take a minute just sit right there
        I'll tell you how I became the prince of a town called Bel-air

        In west Philadelphia born and raised
        On the playground where I spent most of my days
        Chilling out, maxing, relaxing all cool
        And all shooting some b-ball outside of the school
        When a couple of guys, they were up to no good
        Started making trouble in my neighbourhood
        I got in one little fight and my mom got scared
        And said "You're moving with your auntie and uncle in Bel-air"
        </p>

        <p>

        I whistled for a cab and when it came near the
        License plate said "fresh" and had a dice in the mirror
        If anything I could say that this cab was rare
        But I thought nah, forget it, yo homes to Bel-air!

        I pulled up to a house about seven or eight
        And I yelled to the cabby "Yo, homes smell you later!"
        Looked at my kingdom I was finally there
        To sit on my throne as the prince of Bel-air
        </p>
        </section>

        <section id="section4">
        <p>

        Section 4
        Hoodie fixie mixtape tofu. Tonx Etsy vegan synth, McSweeney's keffiyeh pork belly messenger bag fixie cliche Terry Richardson you probably haven't heard of them narwhal pug photo booth. Bitters pop-up put a bird on it fanny pack retro, Brooklyn cray Truffaut cornhole hashtag before they sold out photo booth freegan 90's. Brunch try-hard meggings wolf scenester, deep v tattooed small batch street art mumblecore ennui fashion axe church-key. Farm-to-table trust fund fixie fanny pack skateboard, Marfa Tonx american apparel kitsch. Sriracha lomo bitters letterpress shabby chic, food truck vegan chillwave asymmetrical hoodie narwhal Tonx. Master cleanse post-ironic photo booth Banksy food truck 3 wolf moon.


        </p>
        <p>
        Forage freegan blog master cleanse squid butcher. Lo-fi whatever cray, deep v Carles Odd Future Tonx. Portland Echo Park roof party, fixie seitan pug Terry Richardson church-key hoodie fap kogi semiotics fashion axe sartorial mixtape. Ugh banh mi umami narwhal Vice. Pork belly sartorial beard four loko wolf direct trade, synth meggings whatever ethical helvetica pug intelligentsia fap vegan. Kogi banh mi sartorial single-origin coffee. Cred Marfa you probably haven't heard of them, biodiesel tote bag vinyl craft beer hashtag sartorial church-key.
        </p>
    </div>
</div>
{% endblock %}
