* { box-sizing: border-box; -moz-box-sizing: border-box; outline: none; }

body * { 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

body {
    background: #fff;
}

img {
    display: block;
}

.outer.wrapper img.speaker {
    display: none;
}

.logo.wrapper img {
    display: none;
}

.logo.wrapper {
    background: #fff;
}

.logo.wrapper h1 {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 38px;
    font-weight: normal;
    padding: 18px 0 0 0;
    text-align: center; 
}

.logo.wrapper a {
    color: #000;
    text-decoration: none;
}
   
nav.tabs {
    display: none;
}

.content.inner {
    background: #fff;
    padding: 1em;
}

.content.inner h2 {
    background: #000;
    border-radius: 4px;
    color: #fff;
    margin: 1em 0 1em 0;
    padding: 4px;
    text-align: center;
}

.content.inner p,
.content.inner ul,
.content.inner form {
    margin: 1em auto 0 auto;
    width: 85%;
}

.content.inner form textarea,
.content.inner form input {
    display: block;
    margin-top: 0.6em;
    width: 100%;
}

input#submit:active {
    background: #F44933;
}

input#submit {
    background: rgb(205, 56, 36);
    border: none;
    border-bottom: 2px solid #9B2414;
    border-radius: 4px;
    color: #eee;
    float: right;
    margin: 0.5em 0 0 0;
    padding: 6px;
}

@media screen and (min-width: 768px) {
    .outer.wrapper  {
        width: 1280px;
        margin: 0 auto;
        padding: 0;
        position: relative;
        overflow: visible;
    }

    .outer.wrapper img.speaker {
        display: inline;
        position: absolute;
        right: -339px;
        top: 90px;
        z-index: -10;
    }

    .logo.wrapper img { 
        display: block; 
    }

    .logo.wrapper h1 {
        display: none;
    }

    .logo.wrapper {
        border-bottom: 3px solid black;
        float: left;
        margin: 0 0 0 0em;
        margin-bottom: 1em;
        padding-bottom: 1em;
        overflow: hidden;
    }

    nav.tabs {
        display: block;
    }

    nav.tabs ul {
        padding-left: 2em;
    }

    nav.tabs ul li {
        background: #000;
        border-radius: 8px 8px 0 0;
        border-bottom: 2px solid #000;
        display: inline-block;
        list-style: none;
        margin-right: 15px;
        text-align: center;
        width: 245px;
    }

    nav.tabs ul li a {
        color: #ddd;
        display: block;
        height: 30px;
        line-height: 30px;
        outline: none;
        padding: 0;
        text-decoration: none;
    }

    nav.tabs ul li.active.blue { 
        background: #D9EDEE; 
        border-bottom: 2px solid #6FA8AA;
        color: #13AAAF; 
    }
    nav.tabs ul li.active.blue a { 
        color: #6FA8AA;
    }

    nav.tabs ul li.active.red { 
        background: #CD3824; 
        color: #000; 
        border-bottom: 2px solid #9B2414;  
    }

    nav.tabs ul li.active.red a { 
        color: #fff;
    }

    nav.tabs ul li.active.yellow { 
        background: #F8F499; 
        border-bottom: 2px solid #D3CB32;
        color: #000; 
    }

    nav.tabs ul li.active.yellow a { 
        color: #D3CB32;
    }

    nav.tabs ul li.active.green { 
        background: #6A9B32; 
        border-bottom: 2px solid #487219;
        color: #000;  
    }

    .content.wrapper {
        clear: both;
        margin: 0 auto;
        width: 60em;
    }

    .content.inner {
        background: #fff;
        border: 3px solid #000;
        display: none;
        height: 20em;
    }

    .content.inner h2 {
        display: none;
    }

    .content.inner p {
        margin: 1em;
    }

    .content .inner ul {
        margin: 2em 0 2em 4em;
    }
    
    .content.inner.active {
        display: block;
    }
    
    .content.inner form {
        margin: 0 auto;
        width: 60%;
    }

    .content.inner form textarea,
    .content.inner form input {
        display: block;
        width: 100%;
    }

    input#submit {
        background: rgb(205, 56, 36);
        border: none;
        border-bottom: 2px solid #9B2414;
        border-radius: 4px;
        color: #eee;
        float: right;
        margin: 0.5em 0 0 0;
        padding: 6px;
        width: 35%; 
    }

    input#submit:hover {
        background: #F44933;
    }

    footer {
        background: #000;
        border-radius: 0 0px 4px 4px;
        color: #666;
        text-align: center;
        padding: 2px 0 4px 0;
        width: 8em;
    }

    footer p a,
    footer p {
        font-size: 14px;
    }

    footer p a {
        color: #fff;
    }

}
